body
{
    background-color: lightgray;
    margin: 0;
    padding: 0;
}
.Content
{
  background-color: aliceblue;
  color: black;
  width: 70%;
  height: auto;
  padding: 20px;
  margin: auto;
}

.introduction
{
    background-image: linear-gradient(border-top red black);
}