body
{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
header
{
    background-color: rgb(233, 233, 193);
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 20px;
}
header nav ul
{
   list-style: none;
   margin: 0;
   padding: 30px;
   font-size: 20px;
   padding-left: 20px;
   margin-left: 80px;
}
header nav ul li
{
    display: inline-block;
    margin-right: 20px;
}
header nav a
{
    color: blue;
    text-decoration: none;
}
h2
{
    font-size: 32px;
    border: 1px solid black;
    width: 200px;
    height: auto;
    padding: 5px;
    background-color: rgb(164, 164, 206);
}
p
{
    padding: 10px;
}
main
{
     display: block;
     padding: 20px;
}
footer
{
    background-color: rgb(193, 190, 190);
    color: white;
    margin: auto;
    padding: 20px;
    color: black;

}
:root{
--primary-color: #007bff; /* Change to blue */
    --secondary-color: #fff;
    --background-color: #f2f2f2; /* Change to light gray */

}
